<meta charset="UTF-8">
<title>Welcome to Acme</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">

<style>
    body { 
      background: url('/assets/cool-background-black.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100vw;
      font-family: 'Epilogue', sans-serif;
    }

    .container {
      flex: 1;
      align-items: center;
    }

    .header {
      padding: 20px;
    }

    .header-text {
      color: white;
      font-size: 70px;
    }

    .content {
      height: 70vh;
      background-color: lightgrey;
      opacity: 0.8;
      border-radius: 25px;
      padding: 30px;
      overflow: scroll;
      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    .header-text:hover {
      color: white;
      text-decoration: none;
    }

    .footer {
      display: flex;
      padding: 10px;
      flex-direction: row;
      justify-content: space-between;
    }

    .link-text{
      color: white;
      flex: 1;
      text-align: center;
    }

</style>