<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
<div class="container">
    <div class="header">
        <%- include('./partials/header'); %>
    </div>
    <div class="content">
        <%- content %>
    </div>
    <div class="footer">
        <a class="link-text" href='/about-page'>About</a>
        <a class="link-text" href='/blog/june/company-update'>Blog</a>
        <a class="link-text" href='/valves'>Valves</a>
        <a class="link-text" href='/jobs'>Jobs</a>
    </div> 
</div>

</body>
</html>
